@import "bootstrap";
@import "bootstrap/theme";

body {
  font-family: 'Palanquin', sans-serif;
  background-color: #ad3131;
  color: #fff;
}

a, a:link, a:visited {
  color: #0e233f;
}

a:hover {
  color: #D06A6C;
  text-decoration: none;
}