<h2>LA Teams</h2>

<nav>
  <ul>
    <li>{{#link-to "losangeles.lagalaxy" }}Galaxy{{/link-to}}</li>
    <li>{{#link-to "losangeles.lakers" }}Lakers{{/link-to}}</li>
    <li>{{#link-to "losangeles.kings" }}Kings{{/link-to}}</li>
    <li>{{#link-to "losangeles.clippers" }}Clippers{{/link-to}}</li>
  </ul>
</nav>

{{outlet}}
